@use "./utils/vars" as*;
@import "./components/header";
@import "./components/title";
@import "./components/description";
@import "./components/feature";
@import "./components/personel";
@import "./components/clients";